.mission-statement {
    background-color: white;
    padding: 30px;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid rebeccapurple;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
  }

  h1{
    color: rebeccapurple;
    font-style: bold;
    text-align: left;
  }