h1 { /*this is the heading Readers Republic*/
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

h2 { /*this is the heading Readers Republic*/
    color: black;
    font-weight: bold;
    text-align: center;
}
header {  /*this is the header*/
    
    justify-content: space-between;
    padding: 1em;
    background-color: #d024d0;
    box-shadow: 0px 0px 8px 1px #303030;
}

  section { /*this is the heading Readers Republic*/
    font-family: Arial, Helvetica, sans-serif;

}


footer{


}
}
