body {
  background-color: white;
}

.marquee-section {
  position: relative;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.marquee span {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.cover-image-section {
  margin-bottom: 50px;
}

.cover-image-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  position: absolute;
  top: 0;
  left: 0;
}

.best-sellers-section {
  margin-bottom: 50px;
}

.best-sellers-heading {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 20px;
  color: purple;
  text-decoration: underline;
  text-decoration-color: yellow;
}

.carousel {
  margin-bottom: 150px;
}

.carousel-indicators li {
  background-color: #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid purple);
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: purple;
}

.products-container {
  margin-top: 40px;
}

.product-card {
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 400px;
  z-index: 10;
}

.product-card:hover {
  box-shadow: 0 8px 12px purple;
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.product-info {
  text-align: left;
  padding-top: 20px;
}

.product-title {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.product-author {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: gray;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  background-color: purple;
  color: white;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.overlay-hash {
  font-size: 24px;
}

.overlay-number {
  font-size: 24px;
}

.video-promotion-section {
  margin-bottom: 50px;
}

.portrait-card {
  margin-bottom: 20px;
  overflow: hidden;
}

.portrait-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.promotion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: purple;
  padding: 20px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
}

.promotion-two {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.promotion-one {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}


.testimonial-section, .final-card {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.testimonial-heading {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 20px;
  color: purple;
  text-decoration: underline;
  text-decoration-color: yellow;
}

.testimonial-container, .final-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-card, .final-card {
  width: calc((100% - 60px) / 4);
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.testimonial-card:hover, .final-card  {
  box-shadow: 0 8px 12px purple;
  transform: translateY(-5px);
}

.testimonial-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonial-name, .final-card {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.testimonial-rating {
  color: #ffcf0f;
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-text, .final-card  {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

