header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #d024d0;
    box-shadow: 0px 0px 8px 1px #303030;
}

body {
    background-image: url('/images/Sret.jpg');
    background-size: cover;
    height: 100%;
}