h1 {
    text-align: center;
    color: blueviolet;
}

form{
    text-align: center;
}

form label{
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;

}

form button{
    padding: 5px;;
}

form p{
    text-align: right;
    display: inline-block;
    color: blue;
}

.bottom_section a{
    color: blue;
    padding-left: 10px;
}